*{
  margin: 0;
}

body{
	margin: auto;
	width: 100%;
	min-width: 960px;
	min-height: 768px;
}

#header{
	height: 15%;
    background-color: red;
}

#contents{
	background-image: url('background.jpg');
}

#footer{
	height: 5%;
    background-color: red;
}